.descricao-casa {
    color: white;
    background-color:#BB86FC;
    padding: 10px;
}

.produto-camiseta {
   color: white; 
   background-color:#424250;
   padding: 10px; 
}   

.produto-tenis {
   color: white; 
   background-color:#424250;
   padding: 10px;
}  

.descricao-moda {
    background-color:#00C4B4;
    padding: 10px;
}

.produto-sofa {
   color: white; 
   background-color:#424250;
   padding: 10px;
}

.produto-tv {
    color: white; 
   background-color:#424250;
   padding: 10px;
}